<div class="jumbotron">
  <h1>Hello {{main.user.first_name}}</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
<form name="derp">
 <input type="number" name="whatever" ng-model="main.someValue" ng-min="2" ng-max="5" required="required"/>
 <p>Required: {{derp.whatever.$error.required}}</p>
 <p>Min Value: {{derp.whatever.$error.min}}</p>
 <p>Max Value: {{derp.whatever.$error.max}}</p>
 
 
 <p>{{main.someValue}}</p>
 </form>
 <div ng-repeat="awesomeThing in main.awesomeThings">
	  <h4>{{awesomeThing.header}}</h4>
	  <p>{{awesomeThing.text}}</p>
  </div>
  
  
</div>
